/* Base styles for document */
body {
    line-height: 1.5;
}

/* Toggle class for script.js */
.hidden {
    display: none;
}

/* Header background */
.navbar {
    background-color: rgb(12, 8, 221);
}

/* h1 styles */
.navbar .center {
    font-size: 2.5rem;
    color: rgb(5, 5, 5);
    text-align: center;
    margin: auto;
}

/* Removes pointer for UV Index button display */
.uv {
    cursor: initial !important;
}

/* Centers weather icons in 5-day cards */
#daily-forecast #conditions img {
    display: block;
}

/* Ensures input block stays centered within card */
#search-form input {
    width: 100%;
}

@media only screen and (max-width: 530px) {
    /* Reducing h1 text size for mobile screens */
    .navbar .center {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 430px) {
    /* Shifts icons in h1 onto own lines */
    .navbar .center i {
        display: block;
        line-height: 1.25;
    }
}
Footer

